.sidebar-container .inbox-container {
    padding: 10px;
}

.sidebar-container .inbox-container hr {
    margin: 10px 0px;
}

.sidebar-container .inbox-container .inboxheader-div {
    width: 100%;
    padding-bottom: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.inbox-container .mailpreview-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.mailpreview-container .mailpreview-card {
    background-color: rgb(17, 17, 17);

    padding: 5px;
    border: solid 2px transparent;
    cursor: pointer;
    transition: border-color 0.25s;
}

.mailpreview-container .mailpreview-card:hover {
    border-color: white;
}


.mailpreview-card .mailpreview-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.mailpreview-card .subject {
    font-weight: bold;
}

.mailpreview-card .intro {
    color: #a5a5a5
}