.sidebar-container button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
.sidebar-container button:hover {
    border-color: #646cff;
}
.sidebar-container button:focus, button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.sidebar-container {
    position: fixed;
    top: 1vh;
    right: 0px;

    width: 450px;
    height: 98vh;

    z-index: 999999;

    border-radius: 10px;
    padding: 20px;

    color: #fff;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    transform: translateX(100%);
    transition: all 0.25s ease;
}

.sidebar-open {
    transform: translateX(-5%);
}

.sidebar-container * {
    color: #fff;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    line-height: 1.5;
    font-weight: 400;
    font-size: medium;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    padding: 0px;
    margin: 0px;

    border-radius: 10px;

    text-overflow: unset;
}

.sidebar-container .title {
    text-align: center;
    padding-bottom: 10px;

    display: block;
    font-size: 37px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.sidebar-container h2 {
    font-size: 1.7em;
}

.sidebar-container h3 {
    font-size: 1.5em;
}

.sidebar-container .line {
    margin: 10px 0px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid;
    padding: 0;

    color: white;
    border-color: white;
    background-color: white;
}


/* MEDIA SCHEME */
@media (prefers-color-scheme: light) {
  .sidebar-container {
    color: #213547;
    background-color: #ffffff;
  }
  .sidebar-container * {
    color: #213547;
    background-color: #ffffff;
  }
  .sidebar-container a:hover {
    color: #747bff;
  }
  .sidebar-container button {
    background-color: #f9f9f9;
  }
}