.sidebar-container .maildetail-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.maildetail-container .maildetail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.maildetail-container .maildetail-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.maildetail-info .subject {
    font-weight: bold;
}

.maildetail-info .date {
    width: fit-content;
}

.maildetail-info strong {
    font-weight: bold;
}

.maildetail-container .maildetail-html {
    background-color: rgb(17, 17, 17);
    min-height: 30px;
}

.maildetail-container .maildetail-html a {
    color: blue;
    text-decoration: underline;
}

.maildetail-container .maildetail-html a:hover {
    color: rgb(89, 89, 245);
}

.maildetail-container .maildetail-header button {
    background-color: #ff4d4d; 
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.2s;
}

.maildetail-container .maildetail-header button:hover {
    background-color: #cc0000;
}
