.generateEmail-container {
    display: flex;
    justify-content: center;
    justify-items: center;

    flex-direction: column;
    row-gap: 10px;
}

.generateEmail-container .generateEmail-datacontainer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.generateEmail-datacontainer .email {
    height: fit-content;
}

.generateEmail-datacontainer .email strong {
    font-weight: bold;
}